<p class="title">Telephone Directory</p>
<div class="container">
  <div class="container__list">
    <p class="container__list__heading">Contact List</p>
    <input class="container__list__search" [formControl]="filterKeyword" placeholder="Search...">
    <div class="container__list__data" *ngIf="personList | filter : key;else noData">
      <ng-container *ngFor="let person of personList | filter : key">
        <div class="person" (click)="onPersonSelect(person)" [ngClass]="{'person__selected': selectedPersonID == person.ID}">
          <div class="person__label">Name : <span class="person__value">{{person.name}}</span></div>
          <div class="person__label">Number : <span class="person__value">{{person.number}}</span></div> 
        </div>
      </ng-container>
      <ng-template #noData> No Data Found!! Try with other keyword.</ng-template>
    </div>
  </div>
  <div class="container__detail" *ngIf="selectedPerson">
    <app-detail [person]="selectedPerson" (updateDetail)="onDetailUpdate($event)"></app-detail>
  </div>
</div>
